<p id="notice"><%= notice %></p>

<div class="container">
<h1 style="color: green;">Search Lecture</h1><hr><br>

<%= form_tag(controller: "schedules", action: "find") do %>
    <div class="row">
        <div class="col-sm-4">
            <%= text_field_tag "find", "", class: 'form-control mr-sm-2' %>
        </div>
        <div class="col-sm-8">
            <%= submit_tag "Search",  class: "btn btn-outline-success my-2 my-sm-0"%>
        </div>

</div>
<% end %>

<br>
<table class="table table-striped">
  <tr>
    <th>Title</th><th>Day</th><th>Lecture</th><th>Room</th><th></th>
  </tr>
  <% @schedules.each do |obj| %>
  <tr>
    <td><%= obj.title %></td>
    <td><%= obj.day %></td>
    <td><%= obj.lecture %></td>
    <td><%= obj.room %></td>
    <td><%= link_to '表示 ', obj, class: 'btn btn-outline-dark' %></td>
  </tr>
  <% end %>
</table>

<div class="actions">
    <%= link_to '戻る', schedules_path, class: 'btn btn-info' %>
  </div><br>

</div>