
<h1 style="color: green;">Search Lecture</h1><hr><br>

<%= form_tag(controller: "schedules", action: "find") do %>
    <div class="row">
        <div class="col-sm-4">
            <%= text_field_tag "find", "", class: 'form-control mr-sm-2' %>
        </div>
        <div class="col-sm-8">
            <%= submit_tag "Search",  class: "btn btn-outline-success my-2 my-sm-0"%>
        </div>
<% end %>

<br><br><br>
<div class="table-responsive">
  <table class="table table-light table-bordered table-hover">
    <thead>
      <tr style="background-color: #DFDFDF">
        <th>Title</th><th>Day</th><th>Lecture</th><th>Room</th><th>Student</th>
      </tr>
    </thead> 
    <% @schedules.each do |obj| %>
      <% if obj.user == current_user %>
        <tr>
          <td><%= link_to "#{obj.title}", obj %></td>
          <td><%= obj.day %></td>
          <td><%= obj.lecture %></td>
          <td><%= obj.room %></td>
          <td><%= current_user.email %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="actions">
    <%= link_to '戻る', "/schedules/login_check", class: 'btn btn-info' %>
  </div><br>

</div>